@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 1
   Case Problem 1
   Filename: jtc_layout.css

   This file contains the layout styles used in the JTC website

*/

/* =============================================
	Base layout styles used by mobile devices
	up to 480px and cascaded to larger devices
	unless superceded by other styles.
   =============================================
*/
#example1 {
border: 20px solid white;
padding: 10px;
}
.sticky {
position: fixed;
top: 0;
width: 100%
}
.sticky + .content {
padding-top: 60px;
}
body {
background: linear-gradient(#8DDFFC,white,#DDA0DD,white,pink,white,#FFFF66,white,#90EE90);
background-repeat: no-repeat;
background-size: 100% 100%;
}
ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 200px;
height: 380px;
background-color:#ffffff
}
li a {
display: block;
background: linear-gradient(grey,#ffffff);
padding: 8px 16px;
text-decoration: none;
font-size: 25px;
color:#000000;
text-shadow: 10px 6px 1px #ffffff;
}
/* Change the link color on hover */
li a:hover {
background-color: #000000;
color: black;
}
.sticky {
position: fixed;
top: 0;
width: 15%
}
.sticky + .content {
padding-top: 60px;
}
h2{
font-size: 50px
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
